{% load customtags %}
{% load static %}
{% for direct in activities %}
<div class="row">
    <div class="col l2 center-align">
        {% if direct.titular.avatar %}
        <img src="{% get_media_prefix %}{{direct.titular.avatar}}" alt="" class="responsive-img">
        {% else %}
        <img src="{% static 'images/avatar.png' %}" alt="" class="avatar-filter responsive-img">
        {% endif %}
    </div>
    <div class="col l10">
        <h5>{{direct.nombre}}</h5>
        <h6>Titular: {% if direct.titular %}{{direct.titular.first_name}}{% else %}No asignado{% endif %}</h6>
    </div>
</div>
{% getNewActivitiesByYear direct user current_year %}
{% getOldActivitiesByYear direct user current_year %}
<br><br><br>
{% endfor %}