{% load customtags %}
{% load static %}
<div class="row">
    <br>
    <div class="row">
        <div class="col l2 center-align">
            {% if direct.titular.avatar %}
            <img src="{% get_media_prefix %}{{direct.titular.avatar}}" alt="" class="responsive-img">
            {% else %}
            <img src="{% static 'images/avatar.png' %}" alt="" class="avatar-filter responsive-img">
            {% endif %}
        </div>
        <div class="col l10">
            <h5>{{direct.nombre}}</h5>
            <h6>Titular: {{direct.titular.first_name}}</h6>
        </div>
    </div>
    {% getNewActivitiesByYear direct user current_year %}
    {% getOldActivitiesByYear direct user current_year %}
</div>