{% extends 'base/base.html' %}
{% load static %}
{% block title %}Semáforo de actividades | Inicio{% endblock %}
{% block extrastyles %}
div#login{
padding: 40px 25px 25px 20px;
}
div#loginP{
margin-top:7%;
}
button.btn{
width : 100%;
background-color: #892541;
}
button.btn:hover{
background-color: #892541;
}
button.btn:focus{
background-color: #892541;
}

.input-field input[type=text]:focus {
border-bottom: 1px solid #b3935e !important;
box-shadow: 0 1px 0 0 #b3935e !important;
}
.input-field input[type=text]:focus+label {
color: #b3935e !important;
}

.input-field input[type=password]:focus {
border-bottom: 1px solid #b3935e !important;
box-shadow: 0 1px 0 0 #b3935e !important;
}
.input-field input[type=password]:focus+label {
color: #b3935e !important;
}
{% endblock %}
{% block navbar %}
{% endblock %}
{% block maincontent %}
<div class="container">
    <div class="row">
        <div class="col offset-l4 l4 z-depth-1 animated fadeIn" id="loginP">
            <div id="login">
                <div class="row center-align">
                    <img class="responsive-img" src="{% static 'images/logo_ctrl.png' %}" alt="" width="55%">
                </div>
                <form action="" method="post" id="formLogin">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" name="username" id="username">
                        <label for="username">Usuario</label>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" id="password">
                        <label for="password">Contraseña</label>
                    </div>
                    <div class="row center-align">
                        <button class="btn" id="accessLogin">Acceder</button>
                        <a href="{% url 'rUsuario' %}" class="btn-flat">Regístrate</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrafunctions %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        formLogin()
    })
</script>
{% endblock %}