{% extends 'base/base.html' %}
{% load static %}
{% block title %}Semáforo de actividades{% endblock %}
{% block extrastyles %}
span.badge {
min-width: 4rem;
}
.title-act{
color: #892541;
}
{% endblock %}
{% block navbar %}
{% endblock %}
{% block maincontent %}
<div class="row">
    {% for direc in direcciones %}
    <div class="col l3">
        <div class="card-panel">
            <div class="row">
                <div class="col l3">
                    {% if direc.titular.avatar %}
                    <img src="{% get_media_prefix %}{{direc.titular.avatar}}" alt="" class="responsive-img">
                    {% else %}
                    <img src="{% static 'images/avatar.png' %}" alt="" class="avatar-filter responsive-img">
                    {% endif %}
                </div>
                <div class="col l9">
                    <h6 class=""><b>{{direc.nombre}}</b></h6>
                </div>
            </div>
            <div class="row">
                <div class="center-align col l12">
                    <h6>Titular: {{direc.titular.first_name}}</h6>
                </div>
            </div>
            <ul class="collapsible">
                {% for act in direc.actividades.all %}
                <li>
                    <div class="collapsible-header"><i class="material-icons">spellcheck</i>{{act.nombre}} <span
                            class="badge white-text"
                            style="background-color: {{act.get_light}}">{{act.get_porcent}}%</span>
                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block extrafunctions %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // setTimeout('document.location.reload()', 10000);
    });
</script>
{% endblock %}