{% extends 'base/base.html' %}
{% load static %}
{% block extrarlink %}
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}" />
{% endblock %}
{% block title %}Semáforo de actividades{% endblock %}
{% block extrastyles %}
.container{
width: 100% !important;
margin-top: 3%;
}
span.badge {
min-width: 4rem;
}
.vino{
background-color: #892541;
}
.txt-vino{
color: #892541;
}
.direction{
padding: 10px;
}
ul.collapsible{
overflow-y: scroll;
max-height: 54%;
}
.slick-prev:before {
color: #B8B8B8;
}
.slick-next:before {
color: #B8B8B8;
}
.bn-cont{
margin: 5px;
}
{% endblock %}
{% block extralist %}
<li><a href="{% url 'direccion:prinDirect' %}">Principal</a></li>
{% endblock %}
{% block extralistmob %}
<li><a href="{% url 'direccion:prinDirect' %}">Principal</a></li>
{% endblock %}
{% block maincontent %}
<div class="bn-cont">
    <button class="btn vino viewSlide hide-on-small-only"><i class="material-icons">view_carousel</i></button>
    <button class="btn vino viewModule hide-on-small-only"><i class="material-icons">view_module</i></button>
    <select class="browser-default right" name="" id="filter-year" style="width: 100px;">
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="{{current_year}}" selected>{{current_year}}</option>
    </select>
    <h2 class="center-align txt-vino num-year">{{current_year}}</h2>
</div>
<div class="container">
    <input type="hidden" value="">
    <div class="directions-slider"></div>
    <div class="directions-module row"></div>
</div>
{% endblock %}
{% block extrafunctions %}
<script type="text/javascript" src="{% static 'slick/slick.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('#filter-year').addEventListener('change', function () {
            getActivities(this.value)
        })
        document.querySelector('.viewSlide').addEventListener('click', function () {
            $('.directions-slider').css('display', 'block')
            $('.directions-slider').get(0).slick.setPosition();
            $('.directions-module').css('display', 'none')
        })
        document.querySelector('.viewModule').addEventListener('click', function () {
            $('.directions-slider').css('display', 'none')
            $('.directions-module').css('display', 'block')
        })
        $('.directions-slider').slick({
            slidesToShow: 3,
            autoplay: true,
            autoplaySpeed: 10000
        });
        $('.directions-slider').hide()
        getActivities({{ current_year }})
    let year = document.querySelector('#filter-year').value
    setInterval(function () {
        let year = document.querySelector('#filter-year').value
        getActivities(year)
    }, 130000)
    });
    function getActivities(year) {
        let regEX = /^\d{4}$/
        if (regEX.test(year)) {
            $.getJSON("/direccion/ajax/actividades?year=" + year)
                .done(function (data) {
                    document.querySelector('.num-year').textContent = year
                    toastSuccess('Datos actualizados')
                    showActivitiesModule(data)
                    showActivitiesSlider(data)
                }).fail(function () {
                    toastError('Ha ocurrido un error')
                })
        } else {
            toastError('Ha ocurrido un error')
        }
    }

    function showActivitiesModule(data) {
        $('.directions-module .direction').remove()
        let cont_directions = document.querySelector('.directions-module')
        data.forEach(direction => {
            let parentDiv = document.createElement('div')
            let cardDiv = document.createElement('div')
            let rowDiv = document.createElement('div')
            let col1Div = document.createElement('div')
            let col2Div = document.createElement('div')
            let ul = document.createElement('ul')
            let img = document.createElement('img')
            let b = document.createElement('b')
            let br = document.createElement('br')
            let span = document.createElement('span')
            parentDiv.classList.add('col', 'l3', 'm6', 's12', 'direction')
            cardDiv.classList.add('card-panel')
            rowDiv.classList.add('row')
            col1Div.classList.add('col', 'l3', 'm3', 's3')
            col2Div.classList.add('col', 'l9', 'm9', 's9')
            ul.classList.add('collapsible')
            img.classList.add('responsive-img')
            img.src = direction.avatar != null ? direction.avatar : '/static/images/avatar.png'
            b.textContent = direction.name
            span.textContent = `Titular: ${direction.titular}`
            col1Div.append(img)
            col2Div.append(b, br, span)
            rowDiv.append(col1Div, col2Div)
            cardDiv.append(rowDiv, ul)
            parentDiv.append(cardDiv)
            if (direction.activities != null) {
                direction.activities.forEach(activity => {
                    let li = document.createElement('li')
                    li.className = `sem-${activity.priority}`
                    let div = document.createElement('div')
                    let i = document.createElement('i')
                    let span = document.createElement('span')
                    div.classList.add('collapsible-header')
                    if (activity.is_cancelled) div.classList.add('cancelled')
                    i.classList.add('material-icons')
                    i.textContent = 'spellcheck'
                    span.classList.add('badge', 'white-text')
                    span.style.backgroundColor = activity.color
                    span.textContent = activity.percent + '%'
                    div.append(i, span)
                    span.before(activity.name)
                    li.append(div)
                    ul.append(li)
                })
            }
            cont_directions.append(parentDiv)
        })
    }

    function showActivitiesSlider(data) {
        $('.directions-slider .direction').remove()
        data.forEach(direction => {
            let parentDiv = document.createElement('div')
            let rowDiv = document.createElement('div')
            let col1Div = document.createElement('div')
            let col2Div = document.createElement('div')
            let img = document.createElement('img')
            let h5 = document.createElement('h5')
            let h6 = document.createElement('h6')
            let ul = document.createElement('ul')
            parentDiv.classList.add('direction')
            rowDiv.classList.add('row')
            col1Div.classList.add('col', 'l2', 'center-align')
            col2Div.classList.add('col', 'l10')
            img.classList.add('responsive-img')
            img.src = direction.avatar != null ? direction.avatar : '/static/images/avatar.png'
            ul.classList.add('collapsible')
            h5.textContent = direction.name
            h6.textContent = `Titular: ${direction.titular}`
            col1Div.append(img)
            col2Div.append(h5, h6)
            rowDiv.append(col1Div, col2Div)
            parentDiv.append(rowDiv, ul)
            if (direction.activities != null) {
                direction.activities.forEach(activity => {
                    let li = document.createElement('li')
                    let div = document.createElement('div')
                    let i = document.createElement('i')
                    let span = document.createElement('span')
                    let priority = document.createElement('div')
                    priority.className = `priority z-depth-1 ${activity.priority}`
                    div.classList.add('collapsible-header')
                    if (activity.is_cancelled) div.classList.add('cancelled')
                    i.classList.add('material-icons')
                    i.textContent = 'spellcheck'
                    span.classList.add('badge', 'white-text')
                    span.style.backgroundColor = activity.color
                    span.textContent = activity.percent + '%'
                    div.append(i, span)
                    span.before(activity.name)
                    span.append(priority)
                    li.append(div)
                    ul.append(li)
                })
            }
            $('.directions-slider').slick('slickAdd', parentDiv)
        })
    }

    // function orderObjs(data) {
    //     let aux;
    //     for (let i = 0; i < data.length - 1; i++) {
    //         for (let j = 0; j < data.length - 1; j++) {
    //             if (data[j].percent > data[j + 1].percent) {
    //                 aux = data[j]
    //                 data[j] = data[j + 1]
    //                 data[j + 1] = aux
    //             }
    //         }
    //     }
    //     return data
    // }
</script>
{% endblock %}