{% load staticfiles %}
<script>
	function toastError(msj = "Desconocido"){
		swal({
			toast: true,
			type: 'error',
 	 		title: '<h6>'+msj+'</h6>',
			position: 'top-end',
  			showConfirmButton: false,
  			timer: 5000
		});
	}
	function toastSuccess(msj = "Desconocido"){
		swal({
			toast: true,
			type: 'success',
 	 		title: msj,
			position: 'top-end',
  			showConfirmButton: false,
  			timer: 5000
		});
	}
	function toastWarning(msj = "Desconocido"){
		swal({
			toast: true,
			type: 'warning',
 	 		title: msj,
			position: 'top-end',
  			showConfirmButton: false,
  			timer: 5000
		});
	}
	function toastNormal(msj = "Desconocido"){
		swal({
			toast: true,
			type: 'info',
 	 		html: msj,
			position: 'top-end',
  			showConfirmButton: true,
  			// timer: 5000
		});
	}
</script>

{% if messages %}
	{% for message in messages %}
		{% if message.tags == 'error' %}  
			<script> toastError("{{ message|safe }}"); </script>
		{% endif %} 
		{% if message.tags == 'success' %}
			<script> toastSuccess("{{ message|safe }}") </script>
		{% endif %}
		{% if message.tags == 'warning' %}
		<script> toastWarning("{{ message|safe }}") </script>
		{% endif %}
		{% if message.tags == 'info' %}
		<script> toastNormal("{{ message|safe }}") </script>
		{% endif %}
	{% endfor %}
{% endif %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h6>Por favor, corrija los siguientes errores:</h6>
	<ul>
	{% for field in form %}
	    {% if field.errors %}
	        {% for error in field.errors %}
	    <li><strong>{{field.label}} </strong>-<a href="#id_{{ field.name }}"> {{ error|escape }}</a></li>
	        {% endfor %}
	    {% endif %}
	{% endfor %}
	</ul>
	{% if form.non_field_errors %}
	    {{ form.non_field_errors }}
	{% endif %}
</div>
{% endif %}

