{% extends 'base/base.html' %}
{% load customtags %}
{% block title %}Semáforo de actividades | {{user.direccion}} {% endblock %}
{% block extrastyles %}
a.btn-floating{
background-color: #892541;
}
a.btn-floating:hover{
background-color: #892541;
}
.vino{
background-color: #892541;
}
.vino:hover{
background-color: #892541;
}
.vino:focus{
background-color: #892541;
}
span.badge {
min-width: 4rem;
}
.title-direc{
color: #892541;
}
{% endblock %}
{% block direcName %}{{user.direccion.nombre}}{% endblock %}
{% block maincontent %}
<div class="container">
    <br>
    <br>
    <h4 class="center-align title-direc">{{user.direccion.nombre}}</h4>
    <br>
    <br>
    {% if user.is_secretary %}
        {% showAllDirecActivities %}
    {% else %}
        {% showFilterDirectActivities user %}
    {% endif %}
    <!-- Button new activity -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#act-modal"><i
                class="material-icons">add</i></a>
    </div>
    <!-- Modal activity form -->
    <div id="act-modal" class="modal modal-fixed-footer white">
        <div class="modal-content">
            <h5>Registro de actividad</h5>
            <div class="divider"></div>
            <div class="row">
                <div class="col l10 offset-l1">
                    <form action="{% url 'direccion:rActividad' %}" method="post" id="act-form">
                        {% csrf_token %}
                        <br>
                        <div class="input-field">
                            <input type="text" name="act-name" id="act-name">
                            <label for="act-name">Nombre</label>
                        </div>
                        {% if user.is_secretary %}
                        <div class="input-field">
                            {% selectDirectFilter %}
                        </div>
                        {% endif %}
                        <br>
                        <h5 class="center-align">Objetivos</h5>
                        <a class="btn right vino" id="add-objs"><i class="material-icons">add</i></a>
                        <br><br>
                        <div id="act-objs">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th class="right-align">Hecho</th>
                                        <th class="center-align">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="waves-effect waves-light btn vino" id="save-act" href="#act-modal">Guardar</a>
        </div>
    </div>
</div>
{% endblock %}
{% block extrafunctions %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var modal = document.querySelectorAll('.modal');
        var modal_instances = M.Modal.init(modal);
        var collapsible = document.querySelectorAll('.collapsible');
        var collapsible_instances = M.Collapsible.init(collapsible);
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
        var select = document.querySelectorAll('#id_direccion');
        var select_instances = M.FormSelect.init(select);
    });
</script>
{% endblock %}