{% extends 'base/base.html' %}
{% load customtags %}
{% block title %}Semáforo de actividades | {{user.direccion}} {% endblock %}
{% block extrastyles %}
a.btn-floating{
background-color: #892541;
}
a.btn-floating:hover{
background-color: #892541;
}
.vino{
background-color: #892541;
}
.vino:hover{
background-color: #892541;
}
.vino:focus{
background-color: #892541;
}
span.badge {
min-width: 4rem;
}
.title-direc{
color: #892541;
}
table {
table-layout: fixed;
}
td{
overflow-wrap: break-word;
}
.bn-cont{
margin: 5px;
}
.txt-vino{
color: #892541;
}
{% endblock %}
{% block direcName %}{{user.direccion.nombre}}{% endblock %}
{% block extralist %}
<li><a href="{% url 'direccion:perfil' %}">Configuraciones</a></li>
{% endblock %}
{% block extralistmob %}
<li><a href="{% url 'direccion:perfil' %}">Configuraciones</a></li>
{% endblock %}
{% block maincontent %}
<div class="bn-cont">
    <form method="get" id="formYear">
        <select class="browser-default right" name="year" id="filter-year" style="width: 100px;">
            <option value="" selected>----</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
        </select>
    </form>
</div>
<div class="container">
    <br>
    <br>
    <h4 class="center-align title-direc">{{user.direccion.nombre}}</h4>
    <h5 class="center-align txt-vino num-year">{{current_year}}</h5>
    <br>
    <br>
    {% if user.permisos.see_all %}
    {% showAllDirecActivities user current_year %}
    {% else %}
    {% showFilterDirectActivities user current_year %}
    {% endif %}
    {% if user.permisos.assign_all %}
    <!-- Button new activity -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light modal-trigger" href="#act-modal"><i
                class="material-icons">add</i></a>
    </div>
    {% endif %}
    <!-- Modal activity form -->
    <div id="act-modal" class="modal modal-fixed-footer white">
        <div class="modal-content">
            <h5>Registro de actividad</h5>
            <div class="divider"></div>
            <div class="row">
                <div class="col l10 offset-l1">
                    <form action="{% url 'direccion:rActividad' %}" method="post" id="act-form"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <br>
                        <div class="input-field">
                            <input type="text" name="act-name" id="act-name">
                            <label for="act-name">Nombre</label>
                        </div>
                        {% if user.permisos.assign_all %}
                        <div class="input-field">
                            {% selectDirectFilter %}
                        </div>
                        {% endif %}
                        <br>
                        <h5 class="center-align">Objetivos</h5>
                        <a class="btn right vino" id="add-objs"><i class="material-icons">add</i></a>
                        <br><br>
                        <div id="act-objs">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th class="right-align">Hecho</th>
                                        <th class="center-align">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <br><br>
                        <h5 class="center-align">Evidencias</h5>
                        <div class="file-field input-field">
                            <div class="btn vino">
                                <span>Seleccionar</span>
                                <input type="file" name="evidencias" id="evidencias" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path" type="text">
                                <span class="helper-text">10 MB es el peso límite por archivo</span>
                            </div>
                        </div>
                        <ul class="collection" id="files">
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="waves-effect waves-light btn vino" id="save-act" href="#act-modal">Guardar</a>
        </div>
    </div>
</div>
{% endblock %}
{% block extrafunctions %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        formActivity()
        document.querySelector('#filter-year').addEventListener('change', function () {
            let regEX = /^\d{4}$/
            let year = this.value
            let formYear = document.querySelector('#formYear')
            if (regEX.test(year)) {
                formYear.submit()
            }
        })
        var modal = document.querySelectorAll('.modal');
        var modal_instances = M.Modal.init(modal);
        var collapsible = document.querySelectorAll('.collapsible');
        var collapsible_instances = M.Collapsible.init(collapsible);
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
        var select = document.querySelectorAll('#id_direccion');
        var select_instances = M.FormSelect.init(select);

    });
</script>
{% endblock %}