{% extends 'base/base.html' %}
{% load static %}
{% block extrastyles %}
.title-direc{
color: #892541;
}
a.btn-floating{
background-color: #892541;
}
a.btn-floating:hover{
background-color: #892541;
}
.vino{
background-color: #892541;
}
.vino:hover{
background-color: #892541;
}
.vino:focus{
background-color: #892541;
}
.container{
width: 80% !important;
}
{% endblock %}
{% block extrarlink %}
<link rel="stylesheet" href="{% static 'datatable/datatables.min.css' %}">
{% endblock %}
{% block maincontent %}
<div class="container">
    <br>
    <br>
    <h4 class="center-align title-direc">Direcciones</h4>
    <br>
    <table id="example" class="cell-border hover" style="width:100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Titular</th>
                <th>Ver en lista</th>
                <th>Ver en select</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for direccion in direcciones %}
            <tr {% if not direccion.is_active %}class="red lighten-5"{% endif %} >
                <td class="title-direc">{{direccion.nombre}}</td>
                <td>{{direccion.titular.get_full_name}}</td>
                <td class="center-align">{{ direccion.see_in_list|yesno:"Si,No," }}</td>
                <td class="center-align">{{ direccion.see_in_select|yesno:"Si,No," }}</td>
                <td>
                    <a class="btn-small red del-dir {% if not direccion.is_active %}disabled{% endif %}" href="{% url 'admin:eDireccion' direccion.id %}">
                        <i class="material-icons">delete</i>
                    </a>
                    <a class="btn-small blue edit-dir" href="#">
                        <i class="material-icons">edit</i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Button new direction -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light modal-trigger " href="#dir-modal"><i
            class="material-icons">add</i></a>
</div>
<!-- Modal directions form -->
<div id="dir-modal" class="modal modal-fixed-footer white">
    <div class="modal-content">
        <h5>Registro de direcciones</h5>
        <div class="divider"></div>
        <div class="row">
            <form action="{% url 'admin:rDireccion' %}" method="post" id="dir-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col l8 offset-l2">
                        <div class="row">
                            <div class="input-field">
                                {{fDireccion.nombre}}
                                <label for="id_nombre">Nombre</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                {{fDireccion.codename}}
                                <label for="id_password">Codename</label>
                            </div>
                        </div>
                        <div class="row center-align">
                            <p>
                                <label>
                                    {{ fDireccion.see_in_list }}
                                    <span>Mostrar en lista de actividades</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    {{fDireccion.see_in_select}}
                                    <span>Mostrar en select de direcciones</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="waves-effect waves-light btn vino" id="save-dir" href="#act-modal">Guardar</a>
    </div>
</div>
{% endblock %}
{% block extrafunctions %}
<script src="{% static 'datatable/datatables.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        formDirection()
        $('#example').DataTable({
            "lengthChange": false,
            "lengthMenu": [[10, 20, -1], [10, 20, "Todas"]],
            "info": false,
            "language": {
                "paginate": {
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "zeroRecords": "Sin resultados",
                "search": "Filtrar :"
            }
        });
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });
</script>
{% endblock %}