{% extends 'base/base.html' %}
{% block title %}Semáforo de actividades | Admin{% endblock %}
{% block extrastyles %}
.title-direc{
color: #892541;
}
.vino{
    background-color: #892541;
}
.card-image{
    padding: 30px;   
}
{% endblock %}
{% block maincontent %}
<div class="container">
    <br>
    <br>
    <h4 class="center-align title-direc">Administrador</h4>
    <br>
    <br>
    <div class="row">
        <div class="col s12 m7 l6">
            <div class="card horizontal">
                <div class="card-image valign-wrapper vino">
                    <i class="large material-icons white-text">person</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5><b>Usuarios</b></h5>
                        <p>Administra los usuarios creados en el sistema</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="#" class="title-direc">Ir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m7 l6">
            <div class="card horizontal">
                <div class="card-image valign-wrapper vino">
                    <i class="large material-icons white-text">supervisor_account</i>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5><b>Direcciones</b></h5>
                        <p>Administra las direcciones creadas en el sistema</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="#">Ir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrafunctions %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>
{% endblock %}