{% extends 'base/base.html' %}
{% block title %}Semáforo de actividades | Admin | Cambiar contraseña{% endblock %}
{% block maincontent %}
<div class="container">
    <br><br>
    <h4>Cambiando contraseña a {{user_full_name}}</h4>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col l6">
                <div class="input-field">
                    {{fpass.password}}
                    {{fpass.password.label_tag}}
                </div>
            </div>
            <div class="col l6">
                <div class="input-field">
                    {{fpass.repeat_password}}
                    {{fpass.repeat_password.label_tag}}
                </div>
            </div>
        </div>
        <div class="row right">
            <button class="btn" type="submit">Guardar</button>
            <a href="{% url 'admin:prinUsuario' %}" class="btn" type="submit">Cancelar</a>
        </div>
        <br>
    </form>
</div>
{% endblock %}